
<!DOCTYPE html>
<html lang="zxx">
<head>
    {% load staticfiles %}
    <title>Test Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Log in form" />
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'login/css/font-awesome.min.css' %}" type="text/css" media="all">
</head>
<body>
    <section class="w3l-hotair-form">
        <h1>XYZ PUBLIC SCHOOL</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Log In</h2>
                        <form action="/admit_student/" method="post">
                            <input type="text" class="text" name="student_name" placeholder="Student Name" required="" autofocus>
                            <input type="text" class="text" name="student_id" placeholder="Student ID" required="" autofocus>
                            <button class="btn" type="submit">Start Test</button>
                            {% csrf_token %}
                        </form>
                        <p class="account">School <a href="/admin_login">Log in</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="{% static 'login/images/1.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text-center">
            <p class="copy-footer-29">Created By Vishnu Raj</p>
        </div>
    </section>
</body>
</html>